[data-icon="Static Web"]::before {
  background-image: url("../assets/icon.svg");
}

.form-color-green {
  color: white;
  background-color: #095928;
  display: inline;
  padding: 1rem;
}

.form-color-red {
  color: red;
}
